/* variables */

/* custom styling */

.grid {
	display: grid;
}

.flex {
	display: flex;
	flex-direction: column;
}

body {
	padding: 0 5vw;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: max-content auto;
}

.title {
	height: 4rem;
	text-align: center;

	grid-column: 6 / -6;
}

.wrapper {
	background-image: linear-gradient(to bottom right, lavender 35%, lightgreen);
	border-radius: 2rem;
	padding: 2.5rem;
	width: max-content;
	height: max-content;

	grid-column: 4 / -4;
	align-self: center;
	justify-self: center;

	justify-content: center;
	align-items: center;
}

.wrapper .window {
	background-color: rgb(10, 10, 10, .1);
}

form {
	position: relative;
	padding: 3rem 4rem;
	border-radius: 1rem;
	width: 40rem;

	gap: 2rem;
}

form>div {
	gap: .5rem;
}

form input[type='text'],
form select {
	border: none;
	border-radius: 1rem;
	background-color: #fff;
	padding-left: 1ch;
}

form label[for="name-2"] {
	display: none;
	height: 24px;
}

form button {
	border: none;
	border-radius: .5rem;
	background-color: white;
	margin-top: 3rem;
	padding: .5em 1em;
	font-size: larger;

	align-self: center;
}

.gameboard {
	--cell-size: clamp(1rem, 250px, 15vw);

	display: none;

	grid-template-columns: repeat(3, var(--cell-size));
	grid-auto-rows: var(--cell-size);
	gap: 1rem;
}

.gameboard div {
	background-color: aquamarine;
	border-radius: 1rem;
}

.gameboard div.active-x {
	background-color: red;
}

.gameboard div.active-o {
	background-color: green;
}