/* variables */

/* custom styling */

.grid {
	display: grid;
}

.flex {
	display: flex;
}

body {
	padding: 0 5vw;
}

.gameboard {
	grid-template-columns: repeat(3, 275px);
	grid-auto-rows: 275px;
	gap: 1rem;
}

.gameboard div {
	background-color: aquamarine;
	border-radius: 16px;
}

.gameboard div.active-x {
	background-color: red;
}

.gameboard div.active-o {
	background-color: green;
}